# Gitignore prevents the following files from being tracked by Git
# Environment
.env

# Data files (too large for Git)
data/raw/*  
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
